* {
    font-family: "Comic Sans MS";
}
body {
    height: 100vh;
    overflow: hidden;
}
.test {
    max-width: 700px;
    max-height:350px;
    border: 1px solid rgb(239, 111, 108);;
    border-radius: 6px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 100px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 56px;
    margin-bottom: 120px;
    margin-top: 60px;
}
.question {
    text-align: center;
    font-size: 24px;
    margin-bottom: 230px;
}
.answers {
    
    width: 100%;
    display: flex;
    justify-content: center;
}
.answers a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 36px;
    margin: 0 70px;
    background-color: rgb(239, 111, 108);
    padding: 10px 40px;
    border-radius: 5px;
    border: 2px solid rgb(239, 111, 108);
}
.answers a:hover {
    color: rgb(239, 111, 108);
    background: white;
    transition: .3s;
    cursor: pointer;
}
.answers a:active {
    color: rgb(239, 111, 108);
    background: white;
    transition: .3s;
}
@media screen and (max-width: 1250px) {
    h1 {
        font-size: 44px;
    }
    .answers a {
        padding: 10px 40px;
        font-size: 26px;
    }
}
@media screen and (max-width: 1040px) {
    .container {
        width: 80%;
        margin: 0 auto;
        height: 100%;
    }
}
@media screen and (max-width: 550px) {
    h1 {
        font-size: 36px;
        margin-bottom: 60px;
    }
    .test {
        height: 80%!important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 100px 20px;
    }
    .question {
        margin-bottom: 80px;
        font-size: 18px;
    }
    .answers  {
        flex-direction: column;
    }
    .answers a{
        margin: 12px 0;
    }
}
@media screen and (min-width: 390px) {
    .test {
        padding: 80px 20px;
    }
    .question {
        font-size: 16px;
    }
}
@media screen and (max-width: 330px) {
    .question {
        font-size: 15px;
    }
    .test {
        padding: 70px 20px 30px 20px;
    }
}